In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.metrics import mean_absolute_percentage_error, mean_absolute_error, r2_score, mean_squared_error

In [20]:
df = pd.read_csv(r"C:\Users\asus\OneDrive\DS Intellipat\Time_series_Naive_Forecast.csv", index_col="Date", parse_dates=True)

In [21]:
df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,112.370003,113.389999,111.510002,113.330002,92.246048,118944600
2010-01-05,113.260002,113.680000,112.849998,113.629997,92.490204,111579900
2010-01-06,113.519997,113.989998,113.430000,113.709999,92.555328,116074400
2010-01-07,113.500000,114.330002,113.180000,114.190002,92.946060,131091100
2010-01-08,113.889999,114.620003,113.660004,114.570000,93.255348,126402800

In [23]:
df["ClosePrediction"] = df["Close"].shift(1)

In [27]:
df.head(5)

,Open,High,Low,Close,Adj Close,Volume,ClosePrediction
Date,,,,,,,
2010-01-04,112.370003,113.389999,111.510002,113.330002,92.246048,118944600,NaN
2010-01-05,113.260002,113.680000,112.849998,113.629997,92.490204,111579900,113.330002
2010-01-06,113.519997,113.989998,113.430000,113.709999,92.555328,116074400,113.629997
2010-01-07,113.500000,114.330002,113.180000,114.190002,92.946060,131091100,113.709999
2010-01-08,113.889999,114.620003,113.660004,114.570000,93.255348,126402800,114.190002

In [28]:
y_true = df.iloc[1:]["Close"]
y_pred = df.iloc[1:]["ClosePrediction"]

In [29]:
y_pred

Date
2010-01-05    113.330002
2010-01-06    113.629997
2010-01-07    113.709999
2010-01-08    114.190002
2010-01-11    114.570000
                 ...
2018-12-21    247.169998
2018-12-24    240.699997
2018-12-26    234.339996
2018-12-27    246.179993
2018-12-28    248.070007
Name: ClosePrediction, Length: 2262, dtype: float64

In [30]:
y_true

Date
2010-01-05    113.629997
2010-01-06    113.709999
2010-01-07    114.190002
2010-01-08    114.570000
2010-01-11    114.730003
                 ...
2018-12-21    240.699997
2018-12-24    234.339996
2018-12-26    246.179993
2018-12-27    248.070007
2018-12-28    247.750000
Name: Close, Length: 2262, dtype: float64

## get a feel how values relate to one another. What's good? What's bad? If the R2 is good , will the MAE will also be "good"?

In [31]:
# SSE

(y_true - y_pred).dot(y_true - y_pred)

6330.3742894926045

In [32]:
# MSE
mean_squared_error(y_true, y_pred)

2.798573956451196

In [33]:
(y_true - y_pred).dot(y_true - y_pred) / len(y_true)

2.7985739564511958

In [35]:
# RMSE
mean_squared_error(y_true, y_pred, squared=False)

1.672893886787562

In [36]:
#RMSE
np.sqrt((y_true - y_pred).dot(y_true - y_pred) / len(y_true))

1.6728938867875618

In [37]:
# MAE
mean_absolute_error(y_true, y_pred)

1.1457559803120336

In [38]:
r2_score(y_true, y_pred)

0.9989603259063914

In [39]:
# MAPE
mean_absolute_percentage_error(y_true, y_pred)

0.006494073151422373

In [41]:
# sMAPE

def smape(y_true, y_pred):
    numerator = np.abs(y_true - y_pred)
    denominator = (np.abs(y_true) + np.abs(y_pred)) / 2
    ratio = numerator / denominator
    return ratio.mean()

smape(y_true, y_pred)

0.006491365814068417